$reddish : #F9F9F9;
$redder : #C0392B;
$cloud : #ECF0F1;

.menupage {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    height: calc(100% - 35px - 100px);

    .menu {
        display: flex;
        border-radius: 5px;
        padding: 5px;
        width: 90%;

        .menuItemTitle {
            font-weight: 600;
            font-size: 18px;
        }

        .menuItemDesc {
            font-style: italic;
            font-weight: 14px;
        }
        .leftMenuContent {
            width: 250px;
            .menuTab {
                background-color: grey;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                margin: 0;
                height: 100%;

                li {
                    margin: 15px 0;
                    
                    .tabLinks {
                        position: relative;
                        width: 250px; height: 60px;
                        background: $reddish;
                        margin: 0 auto;
                        margin-top: 40px;
                        overflow: hidden;
                        z-index: 1;
                        cursor: pointer;
                        transition: color .3s;
                        line-height: 60px;
                        font-size: 20px;
                        text-align: center;
                        color: black;

                        &:hover::after {
                            
                            transform: translateY(-80%);
                            transition: transform .3s;
                    
                        }  
                    }

                    .tabLinks::after {
                        position: absolute;
                        top: 90%; left: 0;
                        width: 100%; height: 100%;
                        background: $redder;
                        content: "";
                        z-index: -2;
                        transition: transform .3s; 
                        
                    }
                }
            }
        }

        .rightMenuContent {
            width: calc(100% - 250px);
            height: 100%;
            background-color: #ffffff;
            padding-left: 25px;
            .warmBevs {
                display: flex;
                div {
                    width: 50%;
                }
            }
        }
    }
}